<article class="is-post is-post-excerpt">
 <header>
  <h2><a href="[Post:link]">[Post:localizedtitle]</a></h2>
  <span class="byline">[blog:localizedtitle] - [post:displayname]</span>
   <span class="month">[Post:PublishedOnDate|MMMM]</span>
   <span class="day">[Post:PublishedOnDate|dd]</span>
   <span class="year">[Post:PublishedOnDate|yyyy]</span>
 </header>
[subtemplate|Postbanner.html|Post:hasimage]
 <div class="summary">
[Post:localizedsummary]
 </div>
 <div><a href="[Post:link]">[resx:ReadMore]</a></div>
</article>